* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: Roboto, serif;
}

.header, .main, .footer {
    background-color: #1F2937;
}

.header {
    padding: 20px 150px 0;
}

.header ul {
    display: flex;
    align-items: center;

    list-style-type: none;
}

.header .left {
    margin-right: auto;

    font-size: 24px;
    color: #F9FAF8;
}

.header .right {
    display: flex;
    gap: 30px;

    font-size: 18px;
    color: #E5E7EB;
}

.main {
    display: flex;
    justify-content: center;
    gap: 30px;

    padding: 100px 150px;
}

.main .text {
    display: flex;
    flex-direction: column;
}

.main .text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

    margin-bottom: 20px;
}

.main .text p {
    font-size: 18px;
    color: #E5E7EB;

    margin-bottom: 15px;
}

button {
    background-color: #3882F6;
    padding: 7px 30px;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;

    text-align: center;
}

.main .text button {
    margin-top: auto;
    margin-right: auto;

    border: 0;
}

.main .image {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 300px;
    min-width: 50%;
    background-color: #6d747d;
    color: #F9FAF8;

    font-size: 19px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    padding: 40px 0 120px;

}

.info h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    list-style-type: none;
}

.info ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 180px;
}

.info ul li .image {
    height: 180px;
    margin-bottom: 15px;

    border: 4px solid #3882F6;
    border-radius: 15px;
}

.info ul li p {
    text-align: center;
    font-size: 19px;
}

.quote {
    padding: 150px 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #E5E7EB;
}

.quote h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote p {
    margin-left: auto;

    font-weight: 900;
    font-size: 21px;
}

.form {
    padding: 100px 300px;
}

.form .banner {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;

    min-width: 40px;
    padding: 50px 80px;

    background-color: #3882F6;
}

.form .banner .left {
    color: #E5E7EB;
}

.form .banner .left h3 {
    font-weight: 900;
    font-size: 26px;

    margin-bottom: 10px;
}

.form .banner .left p {
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 0;
}

.footer p {
    font-size: 19px;
    color: #F9FAF8;
}